<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sqlazuredemo20170505105024.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sqlazuredemo20170505105024.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SQLAzureDemo20170505105024</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SQLAzureDemo20170505105024</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Contexto" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqldb03.database.windows.net,1433;Initial Catalog=SQLAzureDemo20170505105024_db;User ID=hsouzaeduardo81@sqldb03;Password=P@tric2oo402" Name="Data Source=tcp:sqldb03.database.windows.net,1433;Initial Catalog=SQLAzureDemo20170505105024_db;User Id=hsouzaeduardo81@sqldb03;Password=P@tric2oo402" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SQLAzureDemo-20170505105247.mdf;Initial Catalog=aspnet-SQLAzureDemo-20170505105247;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Contexto_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SQLAzureDemo-20170505105247.mdf;Initial Catalog=aspnet-SQLAzureDemo-20170505105247;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Contexto-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqldb03.database.windows.net,1433;Initial Catalog=SQLAzureDemo20170505105024_db;User Id=hsouzaeduardo81@sqldb03;Password=P@tric2oo402</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>